@model Mvc5.Entities.dynamic_page

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>dynamic_page</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.alias, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.alias)
                @Html.ValidationMessageFor(model => model.alias)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.content, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.content)
                @Html.ValidationMessageFor(model => model.content)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.parent_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.parent_id)
                @Html.ValidationMessageFor(model => model.parent_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.create_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.create_date)
                @Html.ValidationMessageFor(model => model.create_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.visible, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.visible)
                @Html.ValidationMessageFor(model => model.visible)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.deleted, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.deleted)
                @Html.ValidationMessageFor(model => model.deleted)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
